<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <tittle>My CRUD in NodeJS</tittle>
</head>

<body>
    <h2>
        Editar Registro
    </h2>
    <% data.forEach(function(details){ %>
    <form action="/edit/<%= details.id %>" method="POST">
        <input type="text" value="<%= details.name %>" name="name">
        <input type="text" value="<%= details.email %>" name="email">
        <br />
        <button><a href="/show">Todos</a></button>
            <button type="submit">Editar</button>
    </form>
    <% }) %>
    </body>
</html>