<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>Registros<h2>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</td>
                <th>Sobrenome</td>
            <th>#</th>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.name %></td>
                <td><%= details.email %></td>
                <td>
                    <a href="/edit/<%= details.id %>">Editar</a>
                    <a href="/delete/<%= details.id %>">Deletar</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
        <button><a href="/">Voltar</a></button>
</body>
</html>